@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayExtraLight-Italic.woff2') format('woff2'),
        url('HalyardDisplayExtraLight-Italic.woff') format('woff'),
        url('HalyardDisplayExtraLight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayLight-Italic.woff2') format('woff2'),
        url('HalyardDisplayLight-Italic.woff') format('woff'),
        url('HalyardDisplayLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayBlack.woff2') format('woff2'),
        url('HalyardDisplayBlack.woff') format('woff'),
        url('HalyardDisplayBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplay-Regular.woff2') format('woff2'),
        url('HalyardDisplay-Regular.woff') format('woff'),
        url('HalyardDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayMedium.woff2') format('woff2'),
        url('HalyardDisplayMedium.woff') format('woff'),
        url('HalyardDisplayMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayExtraLight.woff2') format('woff2'),
        url('HalyardDisplayExtraLight.woff') format('woff'),
        url('HalyardDisplayExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayLight.woff2') format('woff2'),
        url('HalyardDisplayLight.woff') format('woff'),
        url('HalyardDisplayLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplaySemiBold.woff2') format('woff2'),
        url('HalyardDisplaySemiBold.woff') format('woff'),
        url('HalyardDisplaySemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplaySemiBold-Italic.woff2') format('woff2'),
        url('HalyardDisplaySemiBold-Italic.woff') format('woff'),
        url('HalyardDisplaySemiBold-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplay-Italic.woff2') format('woff2'),
        url('HalyardDisplay-Italic.woff') format('woff'),
        url('HalyardDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display Book';
    src: url('HalyardDisplayBook.woff2') format('woff2'),
        url('HalyardDisplayBook.woff') format('woff'),
        url('HalyardDisplayBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayMedium-Italic.woff2') format('woff2'),
        url('HalyardDisplayMedium-Italic.woff') format('woff'),
        url('HalyardDisplayMedium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplay-Bold.woff2') format('woff2'),
        url('HalyardDisplay-Bold.woff') format('woff'),
        url('HalyardDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display Book';
    src: url('HalyardDisplayBook-Italic.woff2') format('woff2'),
        url('HalyardDisplayBook-Italic.woff') format('woff'),
        url('HalyardDisplayBook-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplayBlack-Italic.woff2') format('woff2'),
        url('HalyardDisplayBlack-Italic.woff') format('woff'),
        url('HalyardDisplayBlack-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplay-BoldItalic.woff2') format('woff2'),
        url('HalyardDisplay-BoldItalic.woff') format('woff'),
        url('HalyardDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

