@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/fonts.css";

body,
html {
  font-family: "Halyard Display";
}

.requests-header-row {
  max-width: 1350px;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  align-items: stretch;
  padding: 2.5rem;
  > div {
    flex-grow: 1;
  }
  .requests-title-lg {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.38;
    background-color: white;
  }
}

.requests-table {
  table-layout: auto;
  padding: 2.5rem;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 15px;

  thead {
    tr {
      text-align: left;
      margin-bottom: 2rem;
    }
    th {
      padding-bottom: 1rem;
      border-bottom: 1px solid #e5e5e5;
    }
    th:last-child {
      text-align: center;
    }
  }

  tbody {
    td {
      div {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        padding: 0.5rem;
        padding-bottom: 3rem;
        min-height: 125px;
      }
      .description {
        max-width: 500px;
      }
    }

    td:last-child {
      svg {
        margin: 0 auto;
      }
    }
  }
}
